.button {
  border-radius: 5px;
  border: none;
  width: 26%;
  max-width: 120px;
  padding: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.add {
  background: #ef233c;
}
.delete {
  background: #3e1f47;
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button:active {
  opacity: 1;
}
