.button {
  border-radius: 5px;
  border: none;
  width: 26%;
  max-width: 120px;
  padding: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.add {
  background: rgb(61, 173, 247);
  box-shadow: 1px 2px 3px 1px rgba(124, 203, 255, 0.5);
}
.delete {
  background: rgb(247, 61, 61);
  box-shadow: 1px 2px 3px 1px rgba(255, 124, 124, 0.5);
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button:active {
  background: rgb(47, 143, 206);
}
