.inputContainer {
  display: flex;
  justify-content: left;
  margin: 20px auto;
  height: 45px;
  max-width: 600px;
}
.taskInput {
  display: inline-block;
  width: 70%;
  border-radius: 10px;
  height: 45px;
  margin-right: 10px;
  max-width: 500px;
  border: solid rgb(175, 175, 175) 1px;
  background: none;
  color: #fff;
  outline: none;
  padding: 0px 10px;
}
.right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
