.taskContainer {
  display: flex;
  justify-content: space-between;
  background: #003049;
  align-items: center;
  margin: 6px 0px;
  border-radius: 5px;
  padding: 11px 5px;
  padding-left: 20px;
  height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.left {
  display: flex;
  align-items: center;
  background: none;
}
.taskContainer p {
  background: none;
  margin: 0px 0px;
}
.icon {
  position: relative;
  display: none;
  font-size: 21px;
  background: none;
  margin: 0px 5px;
  color: #ffffff;
}
.taskContainer:hover .icon {
  display: flex;
}
.xcircle:hover {
  transform: rotate(25deg);
  cursor: pointer;
  transition: 200ms;
}
.arrow:hover {
  cursor: pointer;
  transform: translate(5px, 0);
  transition: 200ms;
}
.taskImportant {
  background: #ef233c;
}
