.taskContainer {
  display: flex;
  justify-content: space-between;
  background: rgb(61, 173, 247);
  align-items: center;
  margin: 6px 0px;
  border-radius: 5px;
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.left {
  display: flex;
  align-items: center;
  background: none;
}
.taskContainer p {
  background: none;
  margin: 0px 0px;
}
.icon {
  font-size: 21px;
  background: none;
  margin: 0px 5px;
}
.red {
  color: rgb(245, 15, 15);
}
.orange {
  color: rgb(255, 99, 27);
}
.red:hover {
  opacity: 0.8;
  cursor: pointer;
}
.orange:hover {
  opacity: 0.8;
  cursor: pointer;
}
